name: lofi-donut

version: '3.8'
services:
  frontend:
    build:
      context: ./lofi-donut  # Specify the correct path to the frontend directory
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./lofi-donut:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
    stdin_open: true

  llm:
    container_name: llm
    build:
      context: .
      dockerfile: llm/Dockerfile
    ports:
      - "11434:11434"
    networks:
      - lofi-network
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped
    command: "ollama serve"

networks:
  lofi-network:
    driver: bridge

volumes:
  ollama_data: